Repository alifsemi/zephyr_alif, pull requests merged in 2025-02, with the labels that each got.

#26 drivers: i3c: add synopsys designware i3c driver
  drivers/i3c/CMakeLists.txt
  drivers/i3c/Kconfig
  drivers/i3c/Kconfig.dw
  drivers/i3c/i3c_common.c
  drivers/i3c/i3c_dw.c
  drivers/i3c/i3c_shell.c
  dts/bindings/i3c/snps,designware-i3c.yaml
  include/zephyr/drivers/i3c.h
  tests/drivers/build_all/i3c/boards/qemu_cortex_m3.overlay
  tests/drivers/build_all/i3c/prj.conf
Labels: area: Devicetree Binding, area: I3C

#30 drivers: i3c: Fix I3C driver build issue
  drivers/i3c/CMakeLists.txt
  drivers/i3c/Kconfig
  drivers/i3c/i3c_dw.c
  drivers/i3c/i3c_shell.c
Labels: area: I3C

#25 drivers: serial: Fix uart baud rate divisor calculation
  drivers/serial/uart_ns16550.c
Labels: area: UART

#27 Board: dts: Add 256 MAC support to E3 devkit
  boards/arm/alif_e3_dk/alif_e3_dk_rtss_hp_defconfig
Labels: Trivial

#33 samples: drivers: can: counter: boards: update configuration
  samples/drivers/can/counter/boards/alif_b1_dk_rtss_he.conf
  samples/drivers/can/counter/boards/alif_e1c_dk_rtss_he.conf
  samples/drivers/can/counter/boards/alif_e3_dk_rtss_he.conf
  samples/drivers/can/counter/boards/alif_e3_dk_rtss_hp.conf
  samples/drivers/can/counter/boards/alif_e7_dk_rtss_he.conf
  samples/drivers/can/counter/boards/alif_e7_dk_rtss_hp.conf
Labels: area: Samples, area: CAN

#36 dts: arm: alif: ensemble: Remove reference to CSI bus node
  dts/arm/alif/ensemble_rtss_common.dtsi
Labels: Trivial

#39 drivers: sensor: icm42670: update sensor startup-time delay
  drivers/sensor/icm42670/icm42670.c
  samples/sensor/icm42670/prj.conf
Labels: area: Samples, area: Sensors

#38 dts: bindings: Add 'focuslcd' to vendor-prefixes.txt
  dts/bindings/vendor-prefixes.txt
Labels: Trivial, area: Devicetree Binding

#40 dts: bindings: Add 'tes' to vendor-prefixes.txt
  dts/bindings/vendor-prefixes.txt
Labels: Trivial, area: Devicetree Binding

#45 dts: bindings: Update vendor name to Focus LCDs
  dts/bindings/vendor-prefixes.txt
Labels: Trivial, area: Devicetree Binding

#47 manifest: Updates HAL Alif
  west.yml
Labels: manifest, manifest-hal_alif

#52 mainifest: HAL Alif updated
  west.yml
Labels: manifest, manifest-hal_alif

#49 drv: ospi-flash: removed warnings
  drivers/flash/flash_ospi_is25wx.c
Labels: area: Flash
