Repository alifsemi/zephyr_alif, pull requests merged in 2025-01, with the labels that each got.

#12 drivers: can: Add Zephyr CAN driver
  drivers/can/CMakeLists.txt
  drivers/can/Kconfig
  drivers/can/Kconfig.cast
  drivers/can/can_cast.c
  drivers/can/can_cast.h
  dts/arm/alif/balletto-pinctrl.dtsi
  dts/arm/alif/balletto_rtss_common.dtsi
  dts/arm/alif/ensemble-e1c-pinctrl.dtsi
  dts/arm/alif/ensemble-pinctrl.dtsi
  dts/arm/alif/ensemble_e1c_rtss.dtsi
  dts/arm/alif/ensemble_rtss_common.dtsi
  dts/bindings/can/cast,can.yaml
  dts/bindings/vendor-prefixes.txt
  samples/drivers/can/counter/boards/alif_b1_dk_rtss_he.conf
  samples/drivers/can/counter/boards/alif_b1_dk_rtss_he.overlay
  samples/drivers/can/counter/boards/alif_e1c_dk_rtss_he.conf
  samples/drivers/can/counter/boards/alif_e1c_dk_rtss_he.overlay
  samples/drivers/can/counter/boards/alif_e7_dk_rtss_he.conf
  samples/drivers/can/counter/boards/alif_e7_dk_rtss_he.overlay
  samples/drivers/can/counter/boards/alif_e7_dk_rtss_hp.conf
  samples/drivers/can/counter/boards/alif_e7_dk_rtss_hp.overlay
  soc/arm/alif_balletto/b1/soc.h
  soc/arm/alif_balletto/b1/soc_b1_dk_rtss_he.c
  soc/arm/alif_ensemble/e1c/soc.h
  soc/arm/alif_ensemble/e1c/soc_e1c_dk_rtss_he.c
  soc/arm/alif_ensemble/e7/soc.h
  soc/arm/alif_ensemble/e7/soc_e7_dk_rtss_he.c
  soc/arm/alif_ensemble/e7/soc_e7_dk_rtss_hp.c
Labels: area: Samples, area: Devicetree Binding, area: CAN

#23 samples: subsys: input: Add GT911 touchscreen support
  samples/subsys/input/input_dump/boards/alif_b1_dk_rtss_he.conf
  samples/subsys/input/input_dump/boards/alif_b1_dk_rtss_he.overlay
  samples/subsys/input/input_dump/boards/alif_e1c_dk_rtss_he.conf
  samples/subsys/input/input_dump/boards/alif_e1c_dk_rtss_he.overlay
Labels: area: Samples, area: Input

#24 samples: subsys: input: Add GT911 touchscreen support for Ensemble E3
  samples/subsys/input/input_dump/boards/alif_e3_dk_rtss_he.conf
  samples/subsys/input/input_dump/boards/alif_e3_dk_rtss_he.overlay
  samples/subsys/input/input_dump/boards/alif_e3_dk_rtss_hp.conf
  samples/subsys/input/input_dump/boards/alif_e3_dk_rtss_hp.overlay
Labels: area: Samples, area: Input

#21 cmake: ethos: Corrected Ethos parameters
  modules/hal_ethos_u/CMakeLists.txt
Labels: area: ARM
